header {
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: transparent;
    color: #fff;
    padding: 0 60px;
    z-index: 1000;

    & img {
        height: 80px;
    }
}

nav {
    display: flex;
    gap: 20px;

    & a {
        color: #554D32;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
            color: #c49d1e;
        }
    }
}

.navList {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}